.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #491570;
  height: 4rem;
}

.margin {
  padding:10px;

  font-size: 1.5rem;
  color: #BDAACB;
}

.isLoggedIn {
  color: #fff;
  text-decoration: none;
}

.isLoggedIn:hover {
  /* color: #BDAACB; */
  text-shadow: 1px 0 10px #BDAACB;
}
